{# templates/pizza/home.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-dark" style="height: 25px;"></div>
    <nav class="navbar navbar-expand-md navbar-light " style="background-color: #E8395A;">
        <div class="container">
            <a class="navbar-brand ms-auto" href="{{ path('home') }}"><img src="{{ asset('img/logo.png') }}" alt="Logo" width="75"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                </ul>
                <ul class="navbar-nav">


                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('contact') }}"style=" font-size: 24px; text-transform: uppercase; font-weight: 700;">CONTACT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('login') }}"style=" font-size: 24px; text-transform: uppercase; font-weight: 700;">LOGIN</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <body class="bg-danger text-white">
    <div class="container">
        <div class="row my-5">
            <div class="col-md-6 text-center">
                <h1 class="fw-bold">Over ons</h1>
                <p class="lead">Welkom op onze "contact" pagina! Wij zijn een team van gepassioneerde professionals die zich richten op het bieden van kwaliteitsproducten en uitstekende klantenservice aan al onze klanten. Ons bedrijf is opgericht met het doel om een breed scala aan producten aan te bieden, waaronder veganistische, vlees- en visgerechten, om aan de verschillende eetbehoeften en -voorkeuren van onze klanten te voldoen. We zijn trots op onze hoogwaardige ingrediënten en streven ernaar om de beste producten op de markt te brengen. Ons toegewijde team werkt hard om ervoor te zorgen dat uw winkelervaring bij ons soepel en probleemloos verloopt. We waarderen uw zaken en hopen dat u een geweldige tijd zult hebben bij het verkennen van onze producten. Bedankt voor het kiezen van ons!</p>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <img src="{{ asset('img/child.png') }}" class="img-fluid" alt="About Image">
            </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2453.9338349715636!2d4.248271715757341!3d52.04451797972692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b171dfd3195d%3A0x14cbe8c02cccb47c!2sTinwerf%2016%2C%202544%20ED%20Den%20Haag!5e0!3m2!1snl!2snl!4v1677062354062!5m2!1snl!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <footer class="footer " style="background-color: #383838;">
    <div class="container text-white ">
        <div class="row ">
            <div class="col-md-4 col-sm-12 mt-5">
                <h3>Contact Ons</h3>
                <ul class="list-unstyled">
                    <li><i class="bi bi-map-marker"></i> 2562St, Den haag</li>
                    <li><i class="fa fa-phone"></i> (06) 1893749283</li>
                    <li><i class="fa fa-envelope"></i> saparoos@pizza.com</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 text-center mt-5">
                <h3>Volg Ons </h3>
                <div class="social ">
                    <a href="#" class="text-light "><i class="bi bi-facebook"></i></a>
                    <a href="#" class="text-light "><i class="bi bi-twitter"></i></a>
                    <a href="#" class="text-light "><i class="bi bi-instagram"></i></a>
                    <a href="#" class="text-light "><i class="bi bi-youtube"></i></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 text-center mt-5">
                <h3>Onze Uuren </h3>
                <ul class="list-unstyled">
                    <li><h4>maandag - vrijdag</h4></li>
                    <li>11:00  - 21:00 </li>
                    <li><h4>zaterdag - zondag</h4></li>
                    <li>12:00  - 4:00 </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock %}